body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  text-align: center;
}
#logo {
  position: absolute;
  left: 10px;
  height: 50px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-content: space-between;
  /* border: 3px solid red; */
}

.flexcontainer p {
  /* border: 3px solid blue; */
  width: 150px;
}

.secondContainer {
  position: relative;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 4px solid green; */
}

.mission {
  position: absolute;
  background-color: black;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  /* border: 2px solid pink; */
}

.thirdContainer {
  justify-content: center;
  /* right: 50%;
  transform: translateX(50%); */
  width: 1000px;
  /* border: 3px solid red; */
}

.picContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 3px solid blue; */
}

.picContainer div img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.picContainer div h4 {
  position: relative;
  margin: 0;
}
.fourthContainer {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  justify-content: center;
  padding-top: 10px;
  /* transform: translateX(
    34% */

  /* border: 3px solid blue; */
}

.textboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  /* border: 3px solid red; */
}

.fourthContainer h2 {
  position: relative;
  /* right: 50%;
  transform: translateX(50%); */
  margin-top: 100px;
  margin-bottom: 15px;
  padding: 0;
  /* border: 5px solid green; */
}

.textboxes div {
  position: relative;
  width: 300px;
  align-content: space-between;
  margin: 40px;
  padding: 0;
  background-color: black;
  /* border: 3px solid pink; */
}

/*-------FITHCONTAINER----------*/
.fithcontainer {
  height: 200px;
}

/*---------------END--------*/
#end {
  left: 20px;
  text-align: left;
}
